meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")

title

//facebook meta tags
meta(property="og:title",       content=" ")
meta(property="og:description", content=" ")

//image 1200 x 628 px
meta(property="og:image",       content=" ")
meta(property="og:locale",      content="ro_RO")
meta(property="og:url",         content=" ")

link(rel="stylesheet", href="style.css", type="text/css")
